@using Microsoft.AspNet.Identity
@using Project_MVC.Utils
@using Project_MVC.Models

@{
    var shoppingCart = FlowerUtility.GetShoppingCart();
    var count = shoppingCart.GetCartItems().Count;
    //var count = shoppingCart.GetCartItems().Sum(s => s.Value.Quantity);
    var categoryCode = ViewBag.CategoryCode;
}
<ul id="account_nav">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Accounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manages", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link active" })
                @*@if (RolesUtil.IsInAnyRole(User, new string[] { Constant.Admin, Constant.Employee }))
                    {
                        <span> &nbsp; &nbsp; &nbsp;</span>
                    }*@
                <div class="account_menu_list">
                    <div class="account_single_item">
                        <h2>Setting</h2>
                        <ul id="account_single_nav_1">
                            <li>
                                @*<input type="submit" value="Log off"/>*@
                                <a class="nav-link" href="@Url.Action("Index", "Manages")">View account</a>
                            </li>
                            <li>
                                @*<input type="submit" value="Log off"/>*@
                                <a class="nav-link" href="@Url.Action("IndexCustomer", "Orders")">View your invoices</a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li id="cartLoad">
                @if (count != 0)
                {
                    <a href="@Url.Action("ShowCart", "ShoppingCart", new { categoryCode = categoryCode, returnUrl = Request.Url })"><i class="fa fa-shopping-cart"></i>Cart <span class="cart_zero">@count</span></a>
                    <div class="cart_down_area">
                        @foreach (var item in shoppingCart.GetCartItems())
                        {
                            <div class="cart_single">
                                <a href="@Url.Action("DetailCustomers", "Flowers", new { id = item.Value.FlowerCode })"><img style="width:50px;height:50px;" src="@FlowerUtility.GetFlowerImageUrl(item.Value.FlowerCode)" alt="" /></a>
                                <h2><a href="@Url.Action("DetailCustomers", "Flowers", new { id = item.Value.FlowerCode })">@item.Value.FlowerName</a> <a href="@Url.Action("RemoveCart", "ShoppingCart", new { code = item.Value.FlowerCode, returnUrl = Request.Url })"><span><i class="fa fa-trash"></i></span></a></h2>
                                <p>@item.Value.Quantity x @item.Value.Price</p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <a href="#"><i class="fa fa-shopping-cart"></i>Cart <span class="cart_zero">@count</span></a>
                }
            </li>

        }
    }
    else
    {
        <li>
            @*@Html.ActionLink("Đăng nhập", "Login", "Accounts", new { }, new { @class = "nav-link active" })*@
            @Html.ActionLink("Sign in", "Login", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link active" })
        </li>
        <li>
            @*@Html.ActionLink("Đăng ký", "Register", "Accounts", new { }, new { @class = "nav-link" })*@
            @Html.ActionLink("Sign up", "Register", "Accounts", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
        </li>
    }
</ul>

