@model IEnumerable<Project_MVC.Models.Flower>
@using Project_MVC.Utils
@using Project_MVC.Services

@{
    var userService = new UserService();
    var currentUserName = userService.GetCurrentUserName();
}

@Html.Hidden("currentUserName", (object)currentUserName)
@Html.Hidden("currentUrl", HttpContext.Current.Request.Url)

<div class="feature_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="feature_text">
                    <h4>Top Flowers</h4>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.OrderByDescending(s => s.Rating).Take(4))
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <div class="single_product">
                            <a href="@Url.Action("DetailCustomers", "Flowers", new { id = item.Code })" target="main">
                                @*<img src="/images/webdesign.jpg" alt="Image placeholder">*@
                                @if (item.FlowerImages != null && item.FlowerImages.Count > 0)
                                {
                                    <img style="width:258px; height:308px;" src="@item.FlowerImages.OrderByDescending(s => s.CreatedAt).FirstOrDefault().ImageUrl" alt="Image placeholder" />
                                }
                            </a>
                            <div class="product_details">
                                <h2>@item.Name</h2>
                                <p>
                                    <span class="popular_price">
                                        @if (item.Discount > 0)
                                        {
                                            <span class="regular_price">@item.Price.ToString("C", FlowerUtility.UnitedStates)</span>
                                            <span class="popular_price">@Utility.NewPrice(item.Price, item.Discount).ToString("C", FlowerUtility.UnitedStates)</span>
                                        }
                                        else
                                        {
                                            <span class="popular_price">@item.Price.ToString("C", FlowerUtility.UnitedStates)</span>
                                        }
                                    </span>
                                </p>

                            </div>

                            <div class="product_detail">
                                <div class="star_icon">
                                    <div class="stars-outer" data-rating="@item.Rating" data-type="AtPartialView">
                                        <div class="stars-innerDisplay">
                                        </div>
                                    </div>
                                </div>
                                <div class="product_button">
                                    <div class="cart_details">
                                        <a href="javascript:void(0)" id="addCart" data-flowerName="@item.Name" data-code="@item.Code" data-quantity="1">Add to cart</a>
                                    </div>
                                    <div class="cart_details">
                                        <a href="#" target="expand"><i class="fa fa-expand"></i></a>
                                    </div>
                                    <div class="cart_details">
                                        <a href="#" target="heart"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="product_bottom_area">
                @foreach (var item in Model.OrderByDescending(s => s.Rating).Skip(4).Take(4))
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product_list">
                            <div class="single_product">
                                <a href="@Url.Action("DetailCustomers", "Flowers", new { id = item.Code })" target="main">
                                    @*<img src="/images/webdesign.jpg" alt="Image placeholder">*@
                                    @if (item.FlowerImages != null && item.FlowerImages.Count > 0)
                                    {
                                        <img style="width:258px; height:308px;" src="@item.FlowerImages.OrderByDescending(s => s.CreatedAt).FirstOrDefault().ImageUrl" alt="Image placeholder" />
                                    }
                                </a>
                                <div class="product_details">
                                    <h2>@item.Name</h2>
                                    <p>
                                        <span class="popular_price">
                                            @if (item.Discount > 0)
                                            {
                                                <span class="regular_price">@item.Price.ToString("C", FlowerUtility.UnitedStates)</span>
                                                <span class="popular_price">@Utility.NewPrice(item.Price, item.Discount).ToString("C", FlowerUtility.UnitedStates)</span>
                                            }
                                            else
                                            {
                                                <span class="popular_price">@item.Price.ToString("C", FlowerUtility.UnitedStates)</span>
                                            }
                                        </span>
                                    </p>

                                </div>
                                @*<a href="product.html" target="main"><img src="img/product/pr5.png" alt="" /></a>
                                    <div class="product_details">
                                        <h2>Traditional Sympathy Basket</h2>
                                        <p><span class="regular_price">$170.00</span> <span class="popular_price">$150.00</span></p>
                                    </div>*@
                                <div class="product_detail">
                                    <div class="star_icon">
                                        <div class="stars-outer" data-rating="@item.Rating" data-type="AtPartialView">
                                            <div class="stars-innerDisplay">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_button">
                                        <div class="cart_details">
                                            <a href="javascript:void(0)" id="addCart" data-flowerName="@item.Name" data-code="@item.Code" data-quantity="1">Add to cart</a>
                                        </div>
                                        <div class="cart_details">
                                            <a href="#" target="expand"><i class="fa fa-expand"></i></a>
                                        </div>
                                        <div class="cart_details">
                                            <a href="#" target="heart"><i class="fa fa-heart-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="sale_product">
                                        <h5>Sale</h5>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Customs/displayMultipleRatingFlowers.js"></script>
<script>
    var arrAddCart = document.querySelectorAll("#addCart");
    var currentUrl = $("#currentUrl").val();
    $.each(arrAddCart, function (i, val) {
        $(this).click(function () {
            var thisUserAccount = $("#currentUserName").val();
            if (thisUserAccount != null && thisUserAccount != '') {
                var $buttonClicked = $(this);
                var code = $buttonClicked.attr('data-code');
                var quantity = $buttonClicked.attr('data-quantity');
                var name = $buttonClicked.attr('data-flowerName');
                $.confirm({
                    async: false,
                    title: 'Successfully added flower!',
                    content: name + ' was successfully added to your cart!',
                    buttons: {
                        "Go To Cart": function () {
                            window.location.href = `/ShoppingCart/AddCart/` + `?code=` + code + '&strQuantity=' + quantity;
                            //$.ajax({
                            //    type: "POST",
                            //    url: "/ShoppingCart/AddCart",
                            //    data: '{code: "' + code + '", quantity: "'+ quantity +'" }',
                            //    contentType: "application/json; charset=utf-8",
                            //    dataType: "json",
                            //    success: function (response) {
                            //        validation = response;
                            //    }
                            //});
                        },
                        "Stay On This Page": function () {
                            //window.location.href = `/ShoppingCart/AddCart/` + `?code=` + code + '&strQuantity=' + quantity + '&returnUrl=' + currentUrl;
                            $.ajax({
                                type: "POST",
                                url: "/ShoppingCart/AddCart",
                                cache: false,
                                data: '{code: "' + code + '", strQuantity: "' + quantity + '", returnUrl: "' + currentUrl + '" }',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    debugger;
                                    //$("#cartLoad").load("/Home/Index");
                                    //window.setInterval(function () {
                                    //    $.get('/Home/Index', function (result) {
                                    //    });
                                    //}, 10000);
                                    //var auto_refresh = setInterval(function () {
                                    //    $('#cartLoad').fadeOut('fast', function () {
                                    //        $(this).load(currentUrl, function () {
                                    //            $(this).fadeIn('fast');
                                    //        });
                                    //    });
                                    //}, 15000);
                                    $("#account_nav").load('@Url.Action("LoadShoppingCartPartialView","ShoppingCart")');
                                }
                            });

                            // $.ajax({
                            //    type: "GET",
                            //    url: "/Home/Index",
                            //    data: '{shoppingCart: "' + sc + '"}',
                            //    contentType: "application/json; charset=utf-8",
                            //    dataType: "json",
                            //    success: function (response) {
                            //        return response;
                            //    }
                            //});
                        },
                    }
                });
            } else {
                $.confirm({
                    async: false,
                    title: 'Please Login!',
                    content: 'You must Login before buying flowers!',
                    buttons: {
                        okay: function () {
                            window.location.href = `/Accounts/Login/`;
                            //$.ajax({
                            //    type: "POST",
                            //    url: "/ShoppingCart/AddCart",
                            //    data: '{code: "' + code + '", quantity: "'+ quantity +'" }',
                            //    contentType: "application/json; charset=utf-8",
                            //    dataType: "json",
                            //    success: function (response) {
                            //        validation = response;
                            //    }
                            //});
                        },
                        cancel: function () {
                            $.alert('Canceled!');
                        },
                    }
                });
            }
        });
    })
</script>
