@model  Project_MVC.Models.AppUser
@using Project_MVC.Models

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}

<div class="row">
    <div class="my_account_page_area">
        <div id="loginForm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="create_account">
                            <h2>Login or Create an Account</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="new_customer">
                            <h3>NEW CUSTOMERS</h3>
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                        </div>
                        <div class="create_button_area">
                            @*@Html.ActionLink("Create an Account", "Register")*@
                            <p><a href="@Url.Action("Register", "Accounts")" class="btn btn-danger">Create an Account </a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="new_customer">
                                <h3>Registered Customers</h3>
                                <p>If you have an account with us, please log in.</p>
                                <ul class="register_form">
                                    <li>UserName<span>*</span></li>
                                    <li>
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </li>
                                    <li>Password<span>*</span></li>
                                    <li>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </li>
                                    <li><h2><span>*</span>Required Fields</h2></li>
                                    <li>
                                        <input type="submit" value="Login" class="btn btn-success" />
                                        <a href="@Url.Action("ForgotPassword", "Accounts")" class="btn btn-primary">ForgotPassword</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        <div class="create_button_area">
                        <div>
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Account</h4>
                        <hr />

                        <div class="form-group">
                            <div class="control-label col-md-2">Username</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-2">Password</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Login" class="btn btn-default" />
                            </div>
                            <div>
                                @Html.ActionLink("Forgot Password ?", "ForgotPassword", "Accounts")
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index", "Products")
    </div>*@







