@model Project_MVC.Models.AppUser
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-push-5">
            <div class="create_account">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ResetPassword", "Accounts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.CodeToResetPassword)

    <div class="row">
        <div class="col-sm-5 col-sm-push-4">
            <div class="new_customer">
                <h3>Reset your password</h3>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12 form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                
                <div class="text-center">
                    <div class="col-md-offset-2 col-md-7">
                        <input type="submit" class="btn btn-success" value="Reset" />
                    </div>
                </div>
                <div class="text-center">

                </div>
            </div>

        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section CustomStyles{
    <style>
          .control-label {text-align:left!important;padding-top:7px!important;}
@*@media (max-width: 768px) { .control-label {font-size:.7em;} }
@media (min-width: 769px) { .control-label {font-size:.9em;} }*@
    </style>
}
@*<div class="container">
        <div class="col-md-12 text-center">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>*@

@*<div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>*@
