@model  Project_MVC.Models.CartInformation
@using Project_MVC.Utils
@using Project_MVC.Models
@{
    ViewBag.Title = "CreateOrder";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";

    //var cartInfo = new CartInformation();
}
<div class="shopping_details_des">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-left:160px;">
                <div class="tieude" style="margin-left:340px;">
                    <h1><b>Create an Order</b></h1>
                </div>
                @using (Html.BeginForm("CreateOrder", "ShoppingCart", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="shopping_form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <h4>Full name:</h4>
                                    @Html.EditorFor(model => model.ShipName)
                                    @Html.ValidationMessageFor(model => model.ShipName, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <h4>Recipient Phone:</h4>
                                    @Html.EditorFor(model => model.ShipPhone)
                                    @Html.ValidationMessageFor(model => model.ShipPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <h4>Recipient addres:</h4>
                                    @Html.EditorFor(model => model.ShipAddress)
                                    @Html.ValidationMessageFor(model => model.ShipAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <h4>Payment type:</h4>
                                    @Html.DropDownListFor(model => model.PaymentTypeId, EnumHelper.GetSelectList(typeof(Order.PaymentType)))
                                    @*Ngôn ngữ: @Html.DropDownListFor(m => cartInfo.Language, new SelectList(Utils.GetDict(), "Value", "Key"))*@
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div><br />
                        <button type="submit" class="btn btn-danger col" style="margin-left:410px;" value="Lưu đơn hàng">Save Order</button>
                    </div>


                }

                @*<h2>Estimate Shipping and Tax</h2>
                    <h3>Enter your destination to get shipping and tax.</h3>
                    <div class="shopping_form">
                        <h4>Country<span>*</span></h4>
                        <h4>Zip/Postal Code</h4>
                        <input class="input-text validate-postcode" type="text" name="estimate_postcode" value="">
                        <div class="review_button product_tag_add">
                            <button type="submit" title="Submit Review" class="button">Get a Quote</button>
                        </div>*@
            </div>
        </div>
    </div>
</div>
