@model Project_MVC.Models.Flower
@using Project_MVC.Models
@using Project_MVC.Utils

@{
    ViewBag.Title = "DetailCustomers";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
    var flowers = ViewBag.Flowers as List<Flower>;
    var upsellFlowers = flowers.Where(s => s.CategoryCode == Model.CategoryCode && s.Code != Model.Code).OrderByDescending(s => s.Rating);
    var relatedFlowers = flowers.Where(s => s.CategoryCode == Model.CategoryCode && s.Code != Model.Code).OrderByDescending(s => s.Name);
    var flowerImages = Model.FlowerImages;
    if (flowerImages == null || flowerImages.Count == 0)
    {
        flowerImages = new List<FlowerImage>();
    }
    var flowerImagesSkipTake = new List<FlowerImage>();
    var flowerImageTake = new List<FlowerImage>();
    if (flowerImages.ToList().Count >= 4)
    {
        flowerImagesSkipTake = flowerImages.Skip(1).Take(3).ToList();
        flowerImageTake = flowerImages.Take(3).ToList();
    }
    else
    {
        flowerImagesSkipTake = flowerImages.Skip(1).ToList();
        flowerImageTake = flowerImages.ToList();
    }

    var currentUserName = ViewBag.CurrentUserName;

    var rating = (decimal?)ViewBag.CurrentRating;
    if (rating == null)
    {
        rating = 0;
    }
}

@Html.Hidden("currentUserName", (object)currentUserName)
@Html.Hidden("currentUrl", HttpContext.Current.Request.Url)

<!-- breadcrumbs area -->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-single breadcrumb_top">
                    <ul id="breadcrumbs">
                        <li><a href=""><i class="fa fa-home"></i>Home</a></li>
                        <li><span>I</span></li>
                        <li>SHOP</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumbs area -->
<!-- Start preview Product details area -->
<div class="blog_single_view_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="my_tabs">
                    <div class="tab-content tab_content_style">
                        <div id="tab0" class="tab-pane fade in active">
                            <div class="blog_tabs">
                                <a class="fancybox" href="@flowerImages.FirstOrDefault().ImageUrl" data-fancybox-group="gallery" title="Ảnh hoa"><img src="@flowerImages.FirstOrDefault().ImageUrl" alt="" /></a>
                            </div>
                        </div>
                        @for (var i = 1; i <= flowerImagesSkipTake.Count; i++)
                        {
                            <div id="@string.Format("tab{0}", @i)" class="tab-pane fade">
                                <div class="blog_tabs">
                                    <a class="fancybox" href="@flowerImages.ToList()[i].ImageUrl" data-fancybox-group="gallery" title="Ảnh hoa"><img src="@flowerImages.ToList()[i].ImageUrl" alt="" /></a>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="blog_view_list">
                        <ul class="tab_style tab_bottom">
                            @for (var i = 0; i < flowerImageTake.ToList().Count; i++)
                            {
                                <li>
                                    <div class="blog_single_carousel">
                                        <a data-toggle="tab" href="@string.Format("#tab{0}", i )"><img src="@flowerImages.ToList()[i].ImageUrl" alt="" /></a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="blog_product_details">
                    <h2 class="blog_heading"><a href="">@Model.Name</a></h2>
                    <div class="product_rating">
                        <div class="stars-outer" data-type="AtDetailView">
                            <div class="stars-innerDisplay">
                            </div>
                        </div>
                        <div class="product_rating">
                            <a href="#">@FlowerUtility.GetReviews(@Model.Code) Review(s) <span>I</span></a>
                            <a href="#"> Add Your Review</a>
                        </div>
                        <div class="pricing_rate">
                            <p class="stack">Availability:<span class="in-stock"> In stock</span></p>
                            <p class="rating_dollor rating_margin">
                                @if (Model.Discount > 0)
                                {
                                    <span class="rating_value_one dollor_size">@Model.Price.ToString("C", FlowerUtility.UnitedStates)</span>
                                    <span style="color:red" class="rating_value_two">@Utility.NewPrice(Model.Price, Model.Discount).ToString("C", FlowerUtility.UnitedStates)</span>
                                }
                                else
                                {
                                    <span style="color:red" class="rating_value_two">@Model.Price.ToString("C", FlowerUtility.UnitedStates)</span>
                                }
                            </p>
                            <p class="blog_texts">@Html.Raw(Model.Description)</p>
                        </div>
                        <div class="product_blog_button">
                            <div class="cart_blog_details blog_icon_border">
                                <a href="" target="blank"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="cart_blog_details blog_icon_border">
                                <a href="" target="expand"><i class="fa fa-retweet"></i></a>
                            </div>
                            <div class="cart_blog_details blog_icon_border">
                                <a href="" target="heart"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_options_area">
                        <div class="add-to-cart">
                            <input type="text" id="quantityFlower" title="Qty" value="1" class="qty" />
                            <button class="cart_button" data-code="@Model.Code" data-flowerName="@Model.Name" id="addCart"><span>Add to Cart</span></button>&nbsp;<span id="errmsg"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End preview Product details area -->
    <!-- Start Product details tabs area -->
    <div class="product_collateral_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="my_tabs_description">
                        <ul class="tab_style">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-1">Flower Description</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2">Reviews</a>
                            </li>
                            @*<li>
                                    <a data-toggle="tab" href="#tab-3">Product Tags</a>
                                </li>*@
                        </ul>
                        <div class="tab-content tab_content_style">
                            <div id="tab-1" class="tab-pane fade in active">
                                <div class="product_description">
                                    <p>@Html.Raw(Model.Description)</p>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane fade">
                                <div class="product_description">
                                    <ul id="Motorola">
                                        <li><a href="#">@Model.Name</a> Review by <span class="Motorola_cl">@currentUserName</span></li>
                                        <li>
                                            <span>Mời click vào ngôi sao để đánh giá !</span>
                                            <br />
                                            <br />
                                            <div class="stars-outer ratingFlower" data-type="AtDetailView">
                                                <div class="stars-inner">
                                                </div>
                                                <div class="stars-finalinner"></div>
                                            </div>
                                            <br />
                                            <br />
                                            <div style="text-align:left">
                                                @using (Html.BeginForm("RatingFlower", "Flowers", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("rating", rating)
                                                    @Html.Hidden("currentFlowerCode", @Model.Code)

                                                    <div class="form-group">
                                                        <input type="submit" value="Đánh giá" class="btn btn-default" />
                                                    </div>
                                                }
                                            </div>
                                        </li>
                                        @*<li>@currentUserName (Posted on 11/2/2015)</li>*@
                                    </ul>
                                    <div class="fieldsets">
                                        @*<h3>You're reviewing: <span>@Model.Description</span></h3>
                                            <h4>How do you rate this product?*</h4>
                                            <div class="start_tab_pricing_area">
                                                <fieldset>
                                                    <table class="star_pricing_tb">
                                                        <tr>
                                                            <th></th>
                                                            <th>1 Star</th>
                                                            <th>2 Stars</th>
                                                            <th>3 Stars</th>
                                                            <th>4 Stars</th>
                                                            <th>5 Stars</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Quality</td>
                                                            <td><input type="radio" name="ratings[1]" value="1" class="radio"></td>
                                                            <td><input type="radio" name="ratings[1]" value="2" class="radio"></td>
                                                            <td><input type="radio" name="ratings[1]" value="3" class="radio"></td>
                                                            <td><input type="radio" name="ratings[1]" value="4" class="radio"></td>
                                                            <td><input type="radio" name="ratings[1]" value="5" class="radio"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Price</td>
                                                            <td><input type="radio" name="ratings[2]" value="6" class="radio"></td>
                                                            <td><input type="radio" name="ratings[2]" value="7" class="radio"></td>
                                                            <td><input type="radio" name="ratings[2]" value="8" class="radio"></td>
                                                            <td><input type="radio" name="ratings[2]" value="9" class="radio"></td>
                                                            <td><input type="radio" name="ratings[2]" value="10" class="radio"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td><input type="radio" name="ratings[3]" value="11" class="radio"></td>
                                                            <td><input type="radio" name="ratings[3]" value="12" class="radio"></td>
                                                            <td><input type="radio" name="ratings[3]" value="13" class="radio"></td>
                                                            <td><input type="radio" name="ratings[3]" value="14" class="radio"></td>
                                                            <td><input type="radio" name="ratings[3]" value="15" class="radio"></td>
                                                        </tr>
                                                    </table>
                                                </fieldset>
                                            </div>

                                            <div class="rating_contact">
                                                <ul id="review_contact">
                                                    <li>Nickname<span>*</span></li>
                                                    <li><input type="text" name="nickname" class="input-text required-entry" value=""></li>
                                                    <li>Summary of Your Review<span>*</span></li>
                                                    <li><input type="text" name="nickname" class="input-text required-entry" value=""></li>
                                                    <li>Review<span>*</span></li>
                                                    <li><textarea name="detail" cols="5" rows="3" class="required-entry"></textarea></li>
                                                </ul>
                                            </div>
                                            <div class="review_button">
                                                <button type="submit" title="Submit Review" class="button">Submit Review</button>
                                            </div>*@

                                        @{
                                            string urlComment = string.Format("https://localhost:44390/Flowers/DetailCustomers?id={0}", @Model.Code);
                                        }

                                        <div>
                                            <h3>Bình luận!</h3>
                                        </div>
                                        <div>
                                            <div id="fb-root"></div>
                                            <div class="fb-comments" data-href=@urlComment data-width="500" data-numposts="5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div id="tab-3" class="tab-pane fade">
                                    <div class="product_description">
                                        <div class="product_tag_area">
                                            <h2>Other people marked this product with these tags:</h2>
                                            <ul id="product_tags">
                                                <li><a href="#">fashion</a> <span>(1)</span></li>
                                                <li><a href="#">Nunc</a> <span>(1)</span></li>
                                                <li><a href="#">facilisis</a> <span>(1)</span></li>
                                            </ul>
                                            <div class="add_tags">
                                                <h2>Add Your Tags:</h2>
                                                <input type="text" name="nickname" class="input-text required-entry" value="">
                                            </div>
                                            <div class="review_button product_tag_add">
                                                <button type="submit" title="Submit Review" class="button">Add Tags</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product details tabs area -->
    <!-- Start upsell products area -->
    @Html.Partial("_UpsellFlowers", upsellFlowers)
    <!-- End upsell products area -->
    <!-- Start Related products area -->
    @Html.Partial("_RelatedFlowers", relatedFlowers)
    <!-- End Related products area -->

    @section CustomStyles{
        @Styles.Render("~/customs")
        <style>
            #video {
                /*position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;*/
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    }

    @section scripts{
        @Scripts.Render("~/bundles/ratingFlower")
        <script>
            $(document).ready(function () {
    var currentUrl = $("#currentUrl").val();
    $("#addCart").click(function(event){
       event.preventDefault();
        @*window.location.href = "@Url.Action("AddCart", "ShoppingCart")" + "?code=" + $("#Code").val() + "&strQuantity=" + $("#quantityFlower").val();*@
        var thisUserAccount = $("#currentUserName").val();
                if (thisUserAccount != null && thisUserAccount != '') {
                    var $buttonClicked = $(this);
                    var code = $buttonClicked.attr('data-code');
                    var quantity = $("#quantityFlower").val();
                    var name = $buttonClicked.attr('data-flowerName');
                    $.confirm({
                        async: false,
                        title: 'Chúc mừng chọn hoa!',
                        content: 'Bạn đã chọn ' + name + '!',
                        buttons: {
                             "Go To Cart": function () {
                            window.location.href = `/ShoppingCart/AddCart/` + `?code=` + code + '&strQuantity=' + quantity;
                            },
                              "Stay On This Page": function () {
                            $.ajax({
                                type: "POST",
                                url: "/ShoppingCart/AddCart",
                                cache: false,
                                data: '{code: "' + code + '", strQuantity: "' + quantity + '", returnUrl: "' + currentUrl + '" }',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    $("#account_nav").load('@Url.Action("LoadShoppingCartPartialView","ShoppingCart")');
                                }
                            });
                        },
                        }
                    });
                } else {
                    $.confirm({
                        async: false,
                        title: 'Mời Login',
                        content: 'Bạn phải đăng nhập trước khi chọn hoa!',
                        buttons: {
                            okay: function () {
                                window.location.href = `/Accounts/Login/`;
                            },
                        }
                    });
                }
    });

            $("#quantityFlower").keypress(function (e) {
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        $("#errmsg").html("Enter digits only").show().fadeOut("slow");
                        return false;
                    }
                })
})
        </script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=583730498876225&autoLogAppEvents=1"></script>
    }
