@model IEnumerable<Project_MVC.Models.Flower>
@using Project_MVC.Models
@using Project_MVC.Utils

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var thisPage = ViewBag.Page as ThisPage;
    //var functionType = Constant.CreateProduct;
    var url = "/Flowers/Delete/";
    //var urlPopup = "/Flowers/CreatePopup";

    //string ids = "";
    //var thisType = "AtView";
}

<h1>Index</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 firstbox">
                <div class="form-group">
                    <a href="@Url.Action("Create", "Flowers")" class="btn btn-primary">Create New</a>
                </div>
            </div>

            <div class="col-md-9 secondbox secondbox2 ">
                @using (Html.BeginForm("Index", "Flowers", FormMethod.Get))
                {
                    <div class="form-group">
                        <div class="col-md-3 control-label" style="width:250px;">
                            <p>Find by Flower Name - Code - Category Name - Category Code:</p>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-4" })
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="clearfix"></div>
    <br />


    <H2>List FLowers</H2>

    <div class="col-md-11 tablebox">
        <table class="table table-bordered table-hover" style="text-align:center;">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th class="text-center">
                    @Html.ActionLink("Flower Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.ActionLink("Date of Update", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.Price.ToString("C", FlowerUtility.UnitedStates)
                        @*@Html.DisplayFor(modelItem => item.Price)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Code })">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="@Url.Action("Details", new { id = item.Code })">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                        @*@Html.ActionLink(" ", "Delete", new { id = item.Code },
                            new { @class = "glyphicon glyphicon-remove btn-delete-notify", @id = "delete-" + item.Code, data_request_url = @url })*@
                        <a href="javascript:void(0)" class="glyphicon glyphicon-remove btn-delete-notify" id="@item.Code" data-request-url="@url"></a>
                    </td>
                </tr>
            }

        </table>
        @Html.Partial("_Paginate", thisPage)

    </div>
</div>

@Html.AntiForgeryToken()
@section scripts{
    @Scripts.Render("~/bundles/custom");
}
