@model IEnumerable<Project_MVC.Models.Flower>
@using Project_MVC.Models
@using Project_MVC.Utils

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}
<section class="slider-area">
    <!-- slider start -->
    <div class="slider">
        <div id="mainSlider" class="nivoSlider nevo-slider">
            <img src="~/img/slider/slider-1.jpg" alt="main slider" title="#htmlcaption1" />
            <img src="~/img/slider/slider-2.jpg" alt="main slider" title="#htmlcaption2" />
        </div>
        <div id="htmlcaption1" class="nivo-html-caption slider-caption">
            <div class="slider-progress"></div>
            <div class="slider-text">
                <div class="middle-text">
                    <div class="width-cap">
                        <h3 class="slider-tiile-top top-ani-1" style="font-size: 60px;"><span>Flower For your</span></h3>
                        <h2 class="slider-tiile-middle middle-ani-1"><span>Special</span></h2>
                        <div class="slider-readmore">
                            <a href="@Url.Action("Contact", "Home")">Contact</a>
                        </div>
                        <div class="slider-shopping">
                            <a href="@Url.Action("Register", "Accounts")">Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="htmlcaption2" class="nivo-html-caption slider-caption">
            <div class="slider-progress"></div>
            <div class="slider-text">
                <div class="middle-text">
                    <div class="width-cap">
                        <h3 class="slider2-tiile-top top-ani-2"><span>The Bigest Selection Of Fresh Flowers</span></h3>
                        <h2 class="slider2-tiile-middle middle-ani-2"><span>Fresh Tulips</span></h2>
                        <div class="slider2-readmore">
                            <a href="@Url.Action("Contact", "Home")">Contact</a>
                        </div>
                        <div class="slider2-shop">
                            <a href="@Url.Action("Register", "Accounts")">Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider end -->
</section>
<!--Start Category area -->
<div class="body_top_area">
    <div class="container">
        <div class="row">
            @foreach (var levelOneProductCategory in MenuUtil.GetLevelOneProductCategories().Take(2))
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="single_image">

                        <a href="@Url.Action("IndexCustomer", "Flowers", new { levelOneCategoryCode = levelOneProductCategory.Code })"><img style="width:555px; height:377px;" class="banner_home1" src="@levelOneProductCategory.ImageUrl" alt="" /></a>
                        <div class="banner_text">
                            <h2><a href="@Url.Action("IndexCustomer", "Flowers", new { levelOneCategoryCode = levelOneProductCategory.Code })"> @levelOneProductCategory.Name</a></h2>
                        </div>
                        <div class="shop_collection">
                            <a href="@Url.Action("IndexCustomer", "Flowers", new { levelOneCategoryCode = levelOneProductCategory.Code })"> Shop the Collection<span><img src="~/img/arrow/bkg_newsletter.png" alt="" /></span></a>

                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<div class="banner_area">
    <div class="container">
        <div class="row">
            @foreach (var levelOneProductCategory in MenuUtil.GetLevelOneProductCategories().Skip(2).Take(3))
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single_image">

                        <a href="@Url.Action("IndexCustomer", "Flowers", new { levelOneCategoryCode = levelOneProductCategory.Code })"><img style="width:360px; height:277px;" class="banner_home1" src="@levelOneProductCategory.ImageUrl" alt="" /></a>
                        <div class="banner_text">
                            <h3>
                                <a href="@Url.Action("IndexCustomer", "Flowers", new { levelOneCategoryCode = levelOneProductCategory.Code })"> @levelOneProductCategory.Name</a>
                            </h3>
                        </div>
                        <div class="shop_collection">
                            <a href="@Url.Action("IndexCustomer", "Flowers", new { levelOneCategoryCode = levelOneProductCategory.Code })"> Shop the Collection<span><img src="~/img/arrow/bkg_newsletter.png" alt="" /></span></a>

                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
<!--End Category area -->

@Html.Partial("_TopFlower", Model)
<!--Start Blog area -->
<div class="carousel_testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial_list">
                    <div class="testimonial_single">
                        <a href="#">
                            A rose is an argument. It proclaims the triumph of beauty over brutality, of gentleness over violence, of the ephemeral over the lasting, and of the universal over the particular. The same rose bursts into bloom on the North Cape and in the Sahara desert.
                        </a>
                        <p>alexmax</p>
                        <div class="author">
                            <img src="~/img/author/avatar.png" alt="" />
                        </div>
                    </div>
                    <div class="testimonial_single">
                        <a href="#">
                            There is nothing more difficult for a truly creative painter than to paint a rose, because before he can do so he has first to forget all the roses that were ever painted.
                        </a>
                        <p>alexmax</p>
                        <div class="author">
                            <img src="~/img/author/avatar.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End blog area -->
<!--Start Branding area -->
<div class="service_info_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service_list">
                    <h2><i class="fa fa-envelope-o"></i> flower@gmail.com</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service_list">
                    <h3><i class="fa fa-phone"></i> (+84) 386779788</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="Social_list">
                    <h2>Connect us: </h2>
                    <div class="social_icon my-class uk-scrollspy-init-inview uk-invisible">
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Like 6k" class="red-tooltip" href="#"><i class="fa fa-facebook"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Followers 61k" class="red-tooltip" href="#"><i class="fa fa-twitter"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Followers 16k" class="red-tooltip" href="#"><i class="fa fa-linkedin"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Followers 10k" class="red-tooltip" href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Branding area -->

@section CustomStyles{
    @Styles.Render("~/customs")
}