@model Project_MVC.Models.Order
@using Project_MVC.Models
@using Project_MVC.Utils
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lstFlowersInOrder = ViewBag.ListFlowersInOrder as List<FlowersInOrderModel>;
}

<h1>Details</h1>

<div>
    <h1>Order</h1>
    <hr />

</div>

<div class="form-horizontal">
    <div class="col-md-12 tablebox ">
        <div class="col-md-6">
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.PaymentTypeId):
                </div>
                <div class="control-label col-md-5">
                    @Html.DisplayFor(model => model.PaymentTypeId)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3 ">
                    @Html.DisplayNameFor(model => model.ShipName):
                </div>
                <div class="control-label col-md-5 ">
                    @Html.DisplayFor(model => model.ShipName)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.ShipAddress):
                </div>
                <div class="control-label col-md-5 ">
                    @Html.DisplayFor(model => model.ShipAddress)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.ShipPhone):
                </div>
                <div class="control-label col-md-5 ">
                    @Html.DisplayFor(model => model.ShipPhone)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.TotalPrice):
                </div>
                <div class="control-label col-md-5">
                    @Model.TotalPrice.ToString("C", FlowerUtility.UnitedStates)
                    @*@Html.DisplayFor(modelItem => item.Price)*@
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.CreatedAt):
                </div>
                <div class="control-label col-md-5">
                    @Html.DisplayFor(model => model.CreatedAt)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.UpdatedAt):
                </div>
                <div class="control-label col-md-5">
                    @Html.DisplayFor(model => model.UpdatedAt)
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.Status):
                </div>
                <div class="control-label col-md-5 ">
                    @Html.DisplayFor(model => model.Status)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<br />


<H2>List FLowers</H2>
<div class="col-md-11 tablebox">
    @Html.Partial("_FlowersInOrder", lstFlowersInOrder)
</div>
<div class="clearfix"></div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section CustomStyles{
    <style>
          .control-label {text-align:left!important;padding-top:7px!important;}
@*@media (max-width: 768px) { .control-label {font-size:.7em;} }
@media (min-width: 769px) { .control-label {font-size:.9em;} }*@
    </style>
}

@*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>*@
